<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TODO-APP</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <link rel="stylesheet" href="style.css" />
</head>
<body>
  <div id="app">
    <main class="container">
      <div class="top">
        <h1>My todo list:</h1>
        <h2>{{ currentDate }}</h2>
      </div>
      <div class="add-item">
        <input v-model="newItem" placeholder="Add new todo" @keyup.enter="addItem">
          <button @click="addItem" :disabled="newItem.length === 0">
            +
          </button>
        </input>
    </div>
    <div class="list">
      <div class="list-inner">
      <h2>Todo:</h2>
      <ul>
        <li 
        class="list-item" 
        :class="{completed: item.completed}"
        v-for="item in items">
          <span>{{ item.name }}</span>
          <div class="list-item-toggle" @click="toggleComplete(item)"></div>
          <div class="list-item-delete" @click="removeItem(item.id)">
            <button class="delete-item">
              x
            </button>
          </div>
        </li>
      </ul>
    </div>
    </div>
    </main>
  </div>
  <script src="index.js"></script>
</body>
</html>